@import "bourbon";
@import "vars.scss";
*{
    box-sizing: border-box;
}
*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
body{
    font-family: Roboto;
}

header{
    padding-bottom: 20px;
}
.icon{
    display: inline-block;
}
.icon-order-call{
    width: 37px;
    height: 35px;
    background: url("../img/order-call.png");
}
div.top-line{
    height: 6px;
    background-color: #00a8e5;
}

.inner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 27.5px;
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}
.clearfix{
    clear: both;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    margin-top: 32px;
    float: left;
}
.header-contacts{
    display: inline-block;
    float: left;
    border: 1px solid #e3e3e3;
    vertical-align: middle;
    margin-top: 31px;
    padding: 16px 21px;
    margin-left: 63px;
}
.header-contacts__i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 23px;
}
.order-call{
    display: inline-block;
    vertical-align: middle;
    background-color: #00a8e5;
    @include background-image(linear-gradient(to top, #0075cf 0%, #00a8e5 100%));
    border-radius: 2px;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.23);
    display: inline-block;
    color: #fff;
    padding: 6px;
    position: relative;
    transition: .2s all;
    i{
        vertical-align: middle;
    }
    span{
        width: 97px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 0 9px;
        &:before{
            content: "";
            display: inline-block;
            border-left: 1px dotted #fff;
            height: 23px;
            position: absolute;
            top: 10px;
            left: 49px;
        }
    }
    &:hover{
        @include background-image(linear-gradient(to top, darken(#0075cf,7%) 0%, darken(#00a8e5,7%) 100%));
    }
}

.header-contacts__text{
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2px;
}

.header-contacts__phone{
    color: #00a8e5;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    background: url(../img/phone.png) no-repeat left center;
    padding-left: 25px;
    span{
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        vertical-align: top;
    }
}

.header-address{
    color: #616161;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 57px;
    background: url(../img/address.png) no-repeat;
    width: 225px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-top: 34px;
    margin-left: 13px;
    position: relative;
    margin-top: 58px;
    margin-left: 13px;
    &:after{
        height: 47px;
        border-left: 1px dashed #616161;
        content: "";
        display: block;
        position: absolute;
        left: -6px;
        top: -4px;
    }
}

.top-menu{
    background-color: #c12725;
    box-shadow: 0.5px 0.9px 5px rgba(0, 0, 0, 0.49);
    height: 58px;
    ul{
        &:after{
            content: "";
            display: block;
            clear: both;
        }
    }
    li{
        display: block;
        float: left;
        height: 58px;
        vertical-align: top;
        a{
            letter-spacing: 0.1px;
            display: block;
            height: 100%;
            padding: 0 36px;
            color: white;
            font-family: Ubuntu;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 55px;
            position: relative;
            transition: .2s all;
            &:hover{
                background-color: #e53533;
            }
            &:after,&:before{
                position: absolute;
                height: 23px;
                border-left: 1px dotted #fff;
                right: 0px;
                top: 50%;
                margin-top: -11.5px;
                content: "";
                display: block;
            }
            &:before{
                display: none;
            }
        }
    }
    li:first-child a:before{
        right: auto;
        left: 0px;
        display: block;
    }
}
.section_grey{
    background-color: #f3f3f3;
    box-shadow: inset 2.5px 4.3px 5px rgba(0, 0, 0, 0.09);
    padding: 20px 0 35px;
}
.main-slider{
    margin-top: 20px;
    margin-bottom: 20px;
    .lSSlideOuter{
        box-shadow: 0 0 5px 0 #000;
    }
    img,a{
        display: block;
    }
}
.advantages__item{
    padding-top: 6px;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 19.7%;
    border-right: 1px solid #d8d8d8 ;
    &:first-child{
        border-left: 1px solid #d8d8d8;
    }
    span{
        display: block;
        color: #616161;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
    }
}
.lSAction>.lSPrev{
    background: url(../img/arr-left.png);
    width: 32px;
    height: 46px;
}
.lSAction>.lSNext{
    background: url(../img/arr-right.png);
    width: 32px;
    height: 46px;
}

.advantages__item__img{
    height: 90px;
    margin-bottom: 3px;
}

.news{
    float: left;
    width: 680px;
    background-color: white;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
    h3{
        color: #606060;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    .date{
        color: #00a7e5;
        font-size: 13px;
        font-weight: 400;
        position: absolute;
        bottom: 14px;
    }
}

.news__img{
    float: left;
}

.news__text{
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    float: left;
    width: 207px;
    margin-left: 12px;
}
.news__item{
    width: 280px;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid  #ededed;
    padding-bottom: 14px;
    margin-top: 15px;
    margin-right: 58px;
    &:nth-child(2n){
        margin-right: 0;
    }
}
.news__container{
    padding: 0 28px 7px;
}
.news__title{
    padding: 17px 28px 5px 28px;
    border-bottom: 1px solid #ededed;
    h3{
        float: left;
    }
    &:after{
        clear: both;
        display: block;
        content: "";
    }
}
.news-all{
    color: #00a5e4;
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: underline;
    float: right;
    &:hover{
        text-decoration: none;
    }
}
.family{
    display: inline-block;
    margin-left: 20px;
    float: left;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}
.onmap{
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
    float: left;
    width: 210px;
    margin-left: 24px;
    background: url(../img/onmap.png) center center;
    h3{
        color: #fe4a48;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 15px;
    }
    .connect{
        display: inline-block;
        width: 156px;
        height: 47px;
        background-color: #00a8e5;
        @include background-image(linear-gradient(to top, #0075cf 0%, #00a8e5 100%));
        border-radius: 2px;
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.23);
        color: white;
        font-size: 17px;
        font-weight: 500;
        line-height: 46px;
        margin-top: 31px;
    }
    p{
        color: #606060;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        margin-top: 51px;
    }
    button{
        background-color: #e53533;
        border-radius: 2px;
        box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.23);
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-left: 22px;
        width: 75px;
        height: 26px;
    }
    form{
        padding: 0 17px;
        text-align: left;
    }
}
.onmap-input{
    background-color: #e5e5e5;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    width: 174px;
    height: 26px;
    margin-top: 14px;
}

.onmap-input_flat{
    width: 75px;
    margin-top: 10px;
}
.onmap-bottom-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    strong{
        font-size: 16px;
        font-weight: 700;
        line-height: 6px;
        color: #606060;
    }
}
.onmap-bottom-text{
    margin-top: 5px;
    strong{
        margin-top: 10px;
        display: block;
        padding-bottom: 12px;
    }
}

.footer-block{
    float: left;
    max-width: 250px;
    margin-left: 22px;
    margin-right: 10px;
    h3{
        color: #e53533;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    ul,p{
        color: #414141;
        font-size: 13px;
        font-weight: 500;
        line-height: 27px;
    }
    p{
        color: #616161;
        a{
            color: #00a5e4;
            font-size: 14px;
            font-weight: 500;
            line-height: 32px;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .header-contacts{
        margin-left: 0;
        padding: 0;
        border: 0;
        margin-top: 0;
    }
    ul{
        margin-left: -7px;
        a{
            color: #414141;
            &:hover{
                text-decoration: underline;
            }
        }
        li:before{
            width: 4px;
            height: 7px;
            background: url(../img/ul.png);
            display: inline-block;
            vertical-align: middle;
            content: "";
            margin-right: 7px;
        }
    }


}
.footer-contacts{
    max-width: 227px;
    border-right: 1px solid #cad3df;
}
footer{
    background: #fff;
    padding-top: 48px;
}
.footer-abonents{
    padding-right: 6px;
    border-right: 1px solid #cad3df;
}
.footer-aboutus{
    margin-right: 0;
    max-width: 265px;
}

.copyright{
    text-align: center;
    color: #616161;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    border-top: 1px solid #cad3df;
    margin-top: 35px;
    padding: 20px 0;
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";